# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The URL of the MongoDB Atlas database backing this API
DATABASE_URL=mongodb+srv://USER:PASSWORD@DATABASE.ycb0o.mongodb.net/DATABASE?retryWrites=true&w=majority

# Turn off Prisma metrics collection
CHECKPOINT_DISABLE=1 

GRAPHQL_SERVER_URI=<uri>

# For Auth0 Next SDK 
AUTH0_SECRET='use [openssl rand -hex 32] to generate a 32 bytes value'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://momento-dev.us.auth0.com'
AUTH0_CLIENT_ID='u3DjmHEdvVDfmqwotqMkuDn39FmouTB5'
AUTH0_CLIENT_SECRET='2rCiqINo-O0KZ2lv6pgP84zQ6vW8aOqsMdNeO-vvT2S4et89pH0L99NEKmNzKPid'